html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; 
    background-color: #E1E9F0;   
  }

  #content {
    position: absolute;
    margin-top: 100px;
    font-size: 2em;
    text-align: center;
    display: block;
  }  

  #c1 {
    position: absolute;
    background-color: #2273B8;
    font-family: Quiet Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  #c2{
    position: absolute;
    background-color: #E1E9F0;
    font-family: Quiet Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0.02em;
    text-align: left;
  }
  #c3 {
    position: absolute;
    background-color: #2273B8;
    font-family: Quiet Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0.02em;
    text-align: left;
}
#c4{
    position: absolute;
    background-color: #E1E9F0;
    font-family: Quiet Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0.02em;
    text-align: left;
}
#footer{
    position: absolute;
    background-color: #222E3A;
    
}


@media only screen and (max-width: 576px) {
  #content {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 100%;
    bottom: -100%;

    background: rgba(34, 46, 58, 0.35);
    opacity: 0;
    backdrop-filter: blur(22px);
  }
}

@media only screen and (max-width: 768px) {
  #content {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 100%;
    bottom: -100%;

    background: rgba(34, 46, 58, 0.35);
    opacity: 0;
    backdrop-filter: blur(22px);
  }
}
/* Beginning page css */
/* position: absolute;
width: 375px;
height: 812px;
left: 0px;
top: 0px;

background: url(underwater_light.png); */


/* power of change css */


/* Note: backdrop-filter has minimal browser support */

/*transform: matrix(1, 0, 0, -1, 0, 0); */


