/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; 
    background-color: #0f3b61;   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
  }

  button{
    /* border-radius: 12px; */
    border: none;
    font-size: 15px;
    font-weight: 100;
    background-color: #2273B8;
    color: white;
    text-align: center;
    padding: 20px 30px;
    width: 300px;
    display: inline-block;
    margin: 10px;
  }

  /* p {
    font-size: 15px;
    font-family: Poppins;
    padding-left: 3rem; 
  } */

  .pW {
    font-size: 15px;
    font-family: Poppins;
    color: #E1E9F0; 
    line-height: 30px;
  }

  .pB {
    font-size: 15px;
    font-family: Poppins;
    color: #222E3A;
    line-height: 30px; 
  }

  h1 {
    text-align: center;
  }

  #cHeadingW {
    color: #E1E9F0;
  }

  #cHeadingB {
    color: #2273B8;
  }


  h3{
    /* padding-left: 2rem; */
    color: #222E3A;
  }

  h4 {
    color: #E1E9F0;
  }

  #headingMain {
    color: #E1E9F0;
    font-size: 2em;
    padding: 20px;
  }

  #pMain {
    font-size: 15px;
    font-family: Poppins;
    color: #E1E9F0; 
    line-height: 30px;
    padding: 20px;
  }


  #content {
    /*position: absolute;*/
    margin-top: 100px;
    font-size: 2em;
    text-align: center;
    display: block;
  }  

  #c0 {
    background-image: url("img/floating\ bottle.png");
    width: auto;
    height: auto;
  }

  #c1 {
    /*position: absolute;*/
    background-color: #2273B8;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; Quiet Sans; */
    font-size: 36px;
    font-style: normal;
    line-height: 43px;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 20px;
  }

  #c2{
    /*position: absolute;*/
    /* background-color: #0f3b61; */
    background-color: #E1E9F0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 36px;
    font-style: normal;
    line-height: 43px;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 20px;
  }

  #c3 {
    /*position: absolute;*/
    background-color: #2273B8;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-style: normal;
    line-height: 43px;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 20px;
}

#c4{
    /*position: absolute;*/
    /* background-color: #0f3b61; */
    background-color: #E1E9F0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-style: normal;
    line-height: 43px;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 20px;
}

#footer {
  padding-right: 100vw;
  background-color: #222E3A;
  padding: 20px;
}


@media only screen and (max-width: 576px) {
  #content {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 100%;
    bottom: -100%;

    background: rgba(34, 46, 58, 0.35);
    opacity: 0;

    /* Look at what backdrop filter does */
    /* filter: blur(22px); */
    /* backdrop-filter: blur(22px); */
  }
}

@media only screen and (max-width: 768px) {
  #content {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 100%;
    bottom: -100%;

    background: rgba(34, 46, 58, 0.35);
    opacity: 0;

    /* Look at what backdrop filter does */
    /* backdrop-filter: blur(22px); */
  }
}
/* Beginning page css */
/* position: absolute;
width: 375px;
height: 812px;
left: 0px;
top: 0px;

background: url(underwater_light.png); */


/* power of change css */


/* Note: backdrop-filter has minimal browser support */

/*transform: matrix(1, 0, 0, -1, 0, 0); */


